#content{
	width: 888px;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    border-radius: 25px;
    margin: 0 auto;
    padding: 40px;
    font-size: large;
}
#imageright{
    margin-left: 20px;
    border: 1px solid green;
    border-radius: 15px;
    float: right;
    background-color: wheat;
}
#kepright{
    width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#imageleft{
    margin-right: 40px;
    margin-bottom: 80px;
    border: 1px solid green;
    border-radius: 15px;
    float: left;
    background-color: wheat;
}
#kepleft{
    width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.kepszoveg{
	font-weight: bold;
    font-style: italic;
    text-align: center;
}
h1, h2{
    color: forestgreen;
    text-transform: uppercase;
}
div, ul, ol{
    text-align: justify;
}
a{
    color: blue;
}
a:hover{
    color: red;
}
.wikilink{
    color: blue;
    display: inline;
    text-transform: none;
}
body{
    background-color: forestgreen;
}
.bekezdes{
    text-indent: 3em;
}